<div class="card_container ">
    <div *ngFor = "let movie of var1" class="card" style="width: 18rem;">
      <img src="{{movie.restaurent_img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{movie.restaurent_name}}</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <button href="#" (click)="remove(movie.id)" class="btn btn-danger"> Remove </button>
        &nbsp;<button href="#"  class="btn btn-success"> Details </button>

      </div>
    </div>
  
  </div>
  