<div class="jumbotron">
  <h1 class="display-4">Welcome to Foodie</h1>
  <p class="lead">Search for food anywhere anytime.</p>
<div class="row justify-content-center">
                      <div class="col-12 col-md-10 col-lg-8">
                          <form class="card card-sm"   (ngSubmit)="get(search.value)" >
                              <div class="card-body row no-gutters align-items-center">
                                  <div class="col-auto">
                                      <i class="fas fa-search h4 text-body"></i>
                                  </div>
                                  <!--end of col-->
                                  <div class="col">
                                      <input #search class="form-control form-control-lg form-control-borderless" type="search" name="search" placeholder="Search location">
                                  </div>
                                  <!--end of col-->
                                  <div class="col-auto">
                                      <button class="btn btn-lg btn-success" type="submit"  (click)="get()" type="submit">Search</button>
                                  </div>
                                  <!--end of col-->
                              </div>
                          </form>
                      </div>
                      <!--end of col-->
                  </div>
                </div>






    <div class="card_container">
       <div *ngFor = "let movie of arrayOfMovies" class="card" >
           <img src="{{movie.restaurant.featured_image}}"class="card-img-top" alt="...">
           <div class="card-body">
           <h5 class="card-title">{{movie.restaurant.name}}</h5>
            <p class="card-text">{{movie.restaurant.location.address}}</p>
           <button  (click)="add(movie.restaurant)" class="btn btn-success">add to fav...</button>
           
          &nbsp; <button (click) = "gotSearch(movie.restaurant.R.res_id)" class="btn btn-primary">Details...</button>

         </div>
       </div>
    
     </div>
   
  